<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.wcs.sys.mapper.DashBoardMapper">

    <select id="selectAgvData" resultType="java.util.Map">
        SELECT A.AGV_NO agvID, A.STATUS status, A.VOLTAGE battery,
               IFNULL(AK.CATEGORY, '/') operation, IFNULL(AK.CARRIER, '/') tray,
               IFNULL(AK.TARGET_POSITION, '/') target, IFNULL(AK.HANDLE, '/') task
        FROM agv A
        LEFT JOIN agv_task AK ON A.TASK_BO = AK.HANDLE
        ORDER BY A.AGV_NO
    </select>

    <select id="selectReceiveStationData" resultType="java.util.Map">
        select MESSAGE_ID,WO_SERIAL,WO_TYPE,ITEM,STATUS,RESOURCE from wms.asrs_order
    </select>
</mapper>