<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.wcs.sys.mapper.ReceiveStationBindMapper">

    <!-- 通用查詢對應結果 -->
    <resultMap id="BaseResultMap" type="com.fw.wcs.sys.model.ReceiveStationBind">
        <id column="HANDLE" property="handle" />
        <result column="RECEIVE_STATION" property="receiveStation" />
        <result column="STATION" property="station" />
        <result column="CARRIER" property="carrier" />
        <result column="STATUS" property="status" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <!-- 通用查詢結果列 -->
    <sql id="Base_Column_List">
        HANDLE, RECEIVE_STATION, STATION, CARRIER, STATUS, CREATE_USER, CREATED_TIME, UPDATE_USER, UPDATED_TIME
    </sql>

    <select id="findReceiveStationBind" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM receive_station_bind
        WHERE RECEIVE_STATION = #{receiveStation}
        <if test="carrier != null and carrier != ''">
            AND CARRIER = #{carrier}
        </if>
        ORDER BY CREATED_TIME DESC
    </select>

    <insert id="insert" parameterType="com.fw.wcs.sys.model.ReceiveStationBind">
        INSERT INTO receive_station_bind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            HANDLE,
            <if test="receiveStation!=null">RECEIVE_STATION,</if>
            <if test="station!=null">STATION,</if>
            <if test="carrier!=null">CARRIER,</if>
            <if test="status!=null">STATUS,</if>
            <if test="createUser!=null">CREATE_USER,</if>
            <if test="createdTime!=null">CREATED_TIME,</if>
            <if test="updateUser!=null">UPDATE_USER,</if>
            <if test="updatedTime!=null">UPDATED_TIME,</if>
        </trim> VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{handle},
            <if test="receiveStation!=null">#{receiveStation},</if>
            <if test="station!=null">#{station},</if>
            <if test="carrier!=null">#{carrier},</if>
            <if test="status!=null">#{status},</if>
            <if test="createUser!=null">#{createUser},</if>
            <if test="createdTime!=null">#{createdTime},</if>
            <if test="updateUser!=null">#{updateUser},</if>
            <if test="updatedTime!=null">#{updatedTime},</if>
        </trim>
    </insert>

    <update id="updateById">
        UPDATE receive_station_bind
        <trim prefix="SET" suffixOverrides=",">
            <if test="et.station!=null">STATION=#{et.station},</if>
            <if test="et.carrier!=null">CARRIER=#{et.carrier},</if>
            <if test="et.status!=null">STATUS=#{et.status},</if>
            <if test="et.updateUser!=null">UPDATE_USER=#{et.updateUser},</if>
            <if test="et.updatedTime!=null">UPDATED_TIME=#{et.updatedTime},</if>
        </trim>
        WHERE HANDLE=#{et.handle}
    </update>

    <delete id="deleteById">
        DELETE FROM receive_station_bind WHERE HANDLE = #{handle}
    </delete>

</mapper>
