<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fw.wcs.sys.mapper.ResrceMapper">

    <!-- 通用查詢對應結果 -->
    <resultMap id="BaseResultMap" type="com.fw.wcs.sys.model.Resrce">
        <id column="HANDLE" property="handle" />
        <result column="RESRCE" property="resrce" />
        <result column="DESCRIPTION" property="description" />
        <result column="STATUS" property="status" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <!-- 通用查詢結果列 -->
    <sql id="Base_Column_List">
        HANDLE, RESRCE, DESCRIPTION, STATUS, CREATE_USER, CREATED_TIME, UPDATE_USER, UPDATED_TIME
    </sql>



</mapper>
