<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sap.ewm.biz.mapper.CarrierMapper">

    <!-- 通用查詢對映結果 -->
    <resultMap id="BaseResultMap" type="com.sap.ewm.biz.model.Carrier">
        <id column="HANDLE" property="handle" />
        <result column="CARRIER" property="carrier" />
        <result column="STATUS" property="status" />
        <result column="DESCRIPTION" property="description" />
        <result column="CARRIER_TYPE_BO" property="carrierTypeBo" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATER" property="updater" />
    </resultMap>

    <!-- 通用查詢結果列 -->
    <sql id="Base_Column_List">
        HANDLE, CARRIER, STATUS, DESCRIPTION, CARRIER_TYPE_BO, CREATE_TIME, UPDATE_TIME, CREATOR, UPDATER
    </sql>

    <select id="findCarrierByID" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM Carrier
        WHERE 1 = 1
        <if test="carrier != null and carrier != ''">
            AND CARRIER = #{carrier}
        </if>
    </select>

    <insert id="insert" parameterType="com.sap.ewm.biz.model.Carrier">
        INSERT INTO Carrier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            HANDLE,
            <if test="carrier!=null">CARRIER,</if>
            <if test="status!=null">STATUS,</if>
            <if test="description!=null">DESCRIPTION,</if>
            <if test="carrierTypeBo!=null">CARRIER_TYPE_BO,</if>
            <if test="creator!=null">CREATOR,</if>
            <if test="createTime!=null">CREATE_TIME,</if>
            <if test="updater!=null">UPDATER,</if>
            <if test="updateTime!=null">UPDATE_TIME,</if>
        </trim> VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{handle},
            <if test="carrier!=null">#{carrier},</if>
            <if test="status!=null">#{status},</if>
            <if test="description!=null">#{description},</if>
            <if test="carrierTypeBo!=null">#{carrierTypeBo},</if>
            <if test="creator!=null">#{creator},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="updater!=null">#{updater},</if>
            <if test="updateTime!=null">#{updateTime},</if>
        </trim>
    </insert>
</mapper>
