<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sap.ewm.biz.mapper.CarrierTaskMapper">

    <!-- 通用查詢對映結果 -->
    <resultMap id="BaseResultMap" type="com.sap.ewm.biz.model.CarrierTask">
        <id column="HANDLE" property="handle" />
        <result column="WO_TYPE" property="woType" />
        <result column="VOUCHER_NO" property="voucherNo" />
        <result column="WO_SERIAL" property="woSerial" />
        <result column="RARM_TASK_ID" property="rArmTaskId" />
        <result column="CARRIER" property="carrier" />
        <result column="RESOURCE" property="resource" />
        <result column="START_STATION" property="startStation" />
        <result column="END_STATION" property="endStation" />
        <result column="STORAGE_BIN" property="storageBin" />
        <result column="TASK_TYPE" property="taskType" />
        <result column="STATUS" property="status" />
        <result column="RESULT" property="result" />
        <result column="TASK_ORDER" property="taskOrder" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATER" property="updater" />
    </resultMap>

    <!-- 通用查詢結果列 -->
    <sql id="Base_Column_List">
        HANDLE, WO_TYPE, VOUCHER_NO, WO_SERIAL, RARM_TASK_ID, CARRIER, RESOURCE, START_STATION, END_STATION
        , STORAGE_BIN, TASK_TYPE, STATUS, RESULT, TASK_ORDER, CREATE_TIME, UPDATE_TIME, CREATOR, UPDATER
    </sql>

    <select id="findCarrierTaskByVoucherNo" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM CARRIER_TASK
        WHERE 1 = 1
        <if test="voucherNo != null and voucherNo != ''">
            AND VOUCHER_NO = #{voucherNo}
        </if>
        ORDER BY CREATE_TIME ASC
    </select>

    <select id="findCarrierTaskByWoSerial" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM CARRIER_TASK
        WHERE 1 = 1
        <if test="woSerial != null and woSerial != ''">
            AND WO_SERIAL = #{woSerial}
        </if>
        ORDER BY CREATE_TIME ASC
    </select>

    <select id="findCarrierTaskByRArmTaskId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM CARRIER_TASK
        WHERE 1 = 1
        <if test="rArmTaskId != null and rArmTaskId != ''">
            AND RARM_TASK_ID = #{rArmTaskId}
        </if>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="findCarrierTaskById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM CARRIER_TASK
        WHERE 1 = 1
        <if test="handle != null and handle != ''">
            AND HANDLE = #{handle}
        </if>
    </select>

    <update id="update">
        UPDATE CARRIER_TASK <trim prefix="SET" suffixOverrides=",">
        <if test="et.woType!=null">WO_TYPE=#{et.woType},</if>
        <if test="et.voucherNo!=null">VOUCHER_NO=#{et.voucherNo},</if>
        <if test="et.woSerial!=null">WO_SERIAL=#{et.woSerial},</if>
        <if test="et.rArmTaskId!=null">RARM_TASK_ID=#{et.rArmTaskId},</if>
        <if test="et.carrier!=null">CARRIER=#{et.carrier},</if>
        <if test="et.resource!=null">RESOURCE=#{et.resource},</if>
        <if test="et.startStation!=null">START_STATION=#{et.startStation},</if>
        <if test="et.endStation!=null">END_STATION=#{et.endStation},</if>
        <if test="et.storageBin!=null">STORAGE_BIN=#{et.storageBin},</if>
        <if test="et.taskType!=null">TASK_TYPE=#{et.taskType},</if>
        <if test="et.status!=null">STATUS=#{et.status},</if>
        <if test="et.result!=null">RESULT=#{et.result},</if>
        <if test="et.taskOrder!=null">TASK_ORDER=#{et.taskOrder},</if>
        <if test="et.creator!=null">CREATOR=#{et.creator},</if>
        <if test="et.createTime!=null">CREATE_TIME=#{et.createTime},</if>
        <if test="et.updater!=null">UPDATER=#{et.updater},</if>
        <if test="et.updateTime!=null">UPDATE_TIME=#{et.updateTime},</if>
    </trim>
        <where>
            <if test="ew!=null">
                <if test="ew.entity!=null">
                    HANDLE=#{ew.entity.handle}
                    <if test="ew.entity.woType!=null"> AND WO_TYPE=#{ew.entity.woType},</if>
                    <if test="ew.entity.voucherNo!=null"> AND VOUCHER_NO=#{ew.entity.voucherNo}</if>
                    <if test="ew.entity.woSerial!=null"> AND WO_SERIAL=#{ew.entity.woSerial}</if>
                    <if test="ew.entity.rArmTaskId!=null"> AND RARM_TASK_ID=#{ew.entity.rArmTaskId},</if>
                    <if test="ew.entity.carrier!=null"> AND CARRIER=#{ew.entity.carrier},</if>
                    <if test="ew.entity.resource!=null"> AND RESOURCE=#{ew.entity.resource}</if>
                    <if test="ew.entity.startStation!=null"> AND START_STATION=#{ew.entity.startStation},</if>
                    <if test="ew.entity.endStation!=null"> AND END_STATION=#{ew.entity.endStation},</if>
                    <if test="ew.entity.storageBin!=null"> AND STORAGE_BIN=#{ew.entity.storageBin},</if>
                    <if test="ew.entity.taskType!=null"> AND TASK_TYPE=#{ew.entity.taskType},</if>
                    <if test="ew.entity.status!=null"> AND STATUS=#{ew.entity.status}</if>
                    <if test="ew.entity.result!=null"> AND RESULT=#{ew.entity.result}</if>
                    <if test="ew.entity.taskOrder!=null"> AND TASK_ORDER=#{ew.entity.taskOrder}</if>
                    <if test="ew.entity.creator!=null"> AND CREATOR=#{ew.entity.creator}</if>
                    <if test="ew.entity.createTime!=null"> AND CREATE_TIME=#{ew.entity.createTime}</if>
                    <if test="ew.entity.updater!=null"> AND UPDATER=#{ew.entity.updater}</if>
                    <if test="ew.entity.updateTime!=null"> AND UPDATE_TIME=#{ew.entity.updateTime}</if>
                </if>
                <if test="ew!=null and ew.sqlSegment!=null and ew.notEmptyOfWhere">
                    ${ew.sqlSegment}
                </if>
            </if>
        </where>
        <if test="ew!=null and ew.sqlSegment!=null and ew.emptyOfWhere">
            ${ew.sqlSegment}
        </if>
    </update>

    <insert id="insert" parameterType="com.sap.ewm.biz.model.CarrierTask">
        INSERT INTO CARRIER_TASK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            HANDLE,
            <if test="woType!=null">WO_TYPE,</if>
            <if test="voucherNo!=null">VOUCHER_NO,</if>
            <if test="woSerial!=null">WO_SERIAL,</if>
            <if test="rArmTaskId!=null">RARM_TASK_ID,</if>
            <if test="carrier!=null">CARRIER,</if>
            <if test="resource!=null">RESOURCE,</if>
            <if test="startStation!=null">START_STATION,</if>
            <if test="endStation!=null">END_STATION,</if>
            <if test="storageBin!=null">STORAGE_BIN,</if>
            <if test="taskType!=null">TASK_TYPE,</if>
            <if test="status!=null">STATUS,</if>
            <if test="result!=null">RESULT,</if>
            <if test="taskOrder!=null">TASK_ORDER,</if>
            <if test="creator!=null">CREATOR,</if>
            <if test="createTime!=null">CREATE_TIME,</if>
            <if test="updater!=null">UPDATER,</if>
            <if test="updateTime!=null">UPDATE_TIME,</if>
        </trim> VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{handle},
            <if test="woType!=null">#{woType},</if>
            <if test="voucherNo!=null">#{voucherNo},</if>
            <if test="woSerial!=null">#{woSerial},</if>
            <if test="rArmTaskId!=null">#{rArmTaskId},</if>
            <if test="carrier!=null">#{carrier},</if>
            <if test="resource!=null">#{resource},</if>
            <if test="startStation!=null">#{startStation},</if>
            <if test="endStation!=null">#{endStation},</if>
            <if test="storageBin!=null">#{storageBin},</if>
            <if test="taskType!=null">#{taskType},</if>
            <if test="status!=null">#{status},</if>
            <if test="result!=null">#{result},</if>
            <if test="taskOrder!=null">#{taskOrder},</if>
            <if test="creator!=null">#{creator},</if>
            <if test="createTime!=null">#{createTime},</if>
            <if test="updater!=null">#{updater},</if>
            <if test="updateTime!=null">#{updateTime},</if>
        </trim>
    </insert>
</mapper>
